
body{
    background-image: url("icecreamv.jpg");
    font-family: "Josefin Slab";
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: pink;
}

li {
    float: left;
}

li a {
    display: white;
    color: #476EC0;
    font-size: 20px;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
