body
{   background-image: url("Ice-Cream1.jpg");
      style="width:1400;height:400;"
	background-repeat:no-repeat; 
}
 ul {
   list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: pink;
}

li {
    float: left;
}

li a {
    display: white;
    color: #476EC0;
    font-size: 20px;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
h1{
	color: #2151B6;
}
h2{
 color: #2151B6;	
}